@model Tuple<AppUser,AppUserDetail>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>
    <!-- Bootstrap core CSS -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/OuterTools/FlatAdmin/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/OuterTools/FlatAdmin/css/bootstrap-reset.css" rel="stylesheet" />

    <link href="~/OuterTools/FlatAdmin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/OuterTools/FlatAdmin/css/style.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    <link href="~/OuterTools/FlatAdmin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <style>
        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body class="login-body">
    <div class="container">
        <h1 style="color:red"> @TempData["uyeDegil"]</h1>
        <h1 style="color:red"> @ViewBag.ZatenVar   </h1>  


        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">registration now</h2>
            <h3 style="color:forestgreen">@TempData["HesapAktif"] </h3>

            <div class="login-wrap">
                <p>Enter your personal details below</p>
                @Html.ValidationMessageFor(x => x.Item2.FirstName)
                @Html.TextBoxFor(x => x.Item2.FirstName, new { @class = "form-control", placeholder = "İsim" })


                @Html.ValidationMessageFor(x => x.Item2.LastName)
                @Html.TextBoxFor(x => x.Item2.LastName, new { @class = "form-control", placeholder = "Soyisim" })


                @Html.TextAreaFor(x => x.Item2.Address, new { @class = "form-control", placeholder = "Adres Giriniz" })
                <br />










                <p> Enter your account details below</p>
                @Html.ValidationMessageFor(x => x.Item1.UserName)
                @Html.TextBoxFor(x => x.Item1.UserName, new { @class = "form-control", placeholder = "Kullanıcı ismi" })


                @Html.ValidationMessageFor(x => x.Item1.Email)
                @Html.TextBoxFor(x => x.Item1.Email, new { @class = "form-control", placeholder = "Email Giriniz" })


                @Html.ValidationMessageFor(x => x.Item1.Password)
                @Html.PasswordFor(x => x.Item1.Password, new { @class = "form-control", placeholder = "Sifre" })


                @Html.ValidationMessageFor(x => x.Item1.ConfirmPassword)
                @Html.PasswordFor(x => x.Item1.ConfirmPassword, new { @class = "form-control", placeholder = "Sifre Tekrar" })

                <button class="btn btn-lg btn-login btn-block">Kayıt ol</button>
                <div class="registration">
                    Already Registered.
                    @Html.ActionLink("Login","Login","Home")
                    
                </div>
            </div>
        }




    </div>

</body>
</html>

