@model Tuple<List<Category>,Product>
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/OuterTools/FlatAdmin/js/jquery.js"></script>


<div class="panel-body">
    <div class="form">
        @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { @class = "cmxform form-horizontal tasi-form", enctype = "multipart/form-data" }))
        {
            <div class="form-group ">
                <label for="firstname" class="control-label col-lg-2">ProductName</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x=>x.Item2.ProductName,new { @class="form-control"})
                   
                </div>
            </div>
            <div class="form-group ">
                <label for="lastname" class="control-label col-lg-2">UnitPrice</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.Item2.UnitPrice, new {@class="form-control",type="number" })
                   
                </div>
            </div>
            <div class="form-group ">
                <label for="username" class="control-label col-lg-2">Category</label>
                <div class="col-lg-3">
                    @Html.DropDownListFor(x=>x.Item2.CategoryID,new SelectList(Model.Item1,"ID","CategoryName"),"Lutfen Seciniz")
                   
                </div>
            </div>
            <div class="form-group ">
                <label for="password" class="control-label col-lg-2">UrunStok</label>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.Item2.UnitsInStock, new { @class = "form-control", type = "number" })
                </div>
            </div>
          
     

            <div class="form-group">
                <label class="control-label col-lg-2">Image Upload</label>
                <div class="col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                        <div>
                            <span class="btn btn-white btn-file">
                                <span class="fileupload-new"><i class="icon-paper-clip"></i> Select image</span>
                                <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                                <input name="resim" type="file" class="default" />
                            </span>
                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Remove</a>
                        </div>
                    </div>

                </div>
            </div>




            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-danger" type="submit">Save</button>
                    @Html.ActionLink("Cancel","ProductList",null,new {@class="btn btn-default" })
                    
                </div>
            </div>
        }


        
    </div>
</div>



<script type="text/javascript" src="~/OuterTools/FlatAdmin/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>